version: "3.9"

services:
  it-tools:
    image: corentinth/it-tools
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ittools.entrypoints=web"
      - >
        traefik.http.routers.ittools.rule=
        Host(`tools.localhost`)
        || Host(`it.localhost`)
        || Host(`it-tools.localhost`)
      - "traefik.http.services.ittools.loadbalancer.server.port=80"
    restart: unless-stopped



  code-server:
    image: codercom/code-server
    environment:
      PASSWORD: dev
    volumes:
      - code-data:/home/coder
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.code.entrypoints=web"
      - >
        traefik.http.routers.code.rule=
        Host(`code.localhost`)
        || Host(`vscode.localhost`)
      - "traefik.http.services.code.loadbalancer.server.port=8080"
    restart: unless-stopped

  gitea:
    image: gitea/gitea
    environment:
      USER_UID: 1000
      USER_GID: 1000
    volumes:
      - gitea-data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.entrypoints=web"
      - >
        traefik.http.routers.gitea.rule=
        Host(`git.localhost`)
        || Host(`gitea.localhost`)
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
    restart: unless-stopped

volumes:
  code-data:
  gitea-data:

