version: "3.9"

services:
  it-tools:
    image: corentinth/it-tools
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ittools.entrypoints=web"
      - >
        traefik.http.routers.ittools.rule=
        Host(`tools.localhost`)
        || Host(`it.localhost`)
        || Host(`it-tools.localhost`)
      - "traefik.http.services.ittools.loadbalancer.server.port=80"
    restart: unless-stopped


  minio:
    image: minio/minio
    command: server /data --console-address ":9001" --address ":9000"
    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: minio123
      MINIO_SERVER_URL: http://s3.localhost  # Helps with redirects and domain validation
      MINIO_BROWSER_REDIRECT_URL: http://minio.localhost # Redirect browser to the console URL
    volumes:
      - minio-data:/data
    labels:
      - "traefik.enable=true"

      # S3 API
      - "traefik.http.routers.minio-api.entrypoints=web"
      - "traefik.http.routers.minio-api.rule=Host(`s3.localhost`)"
      - "traefik.http.routers.minio-api.service=minio-api"
      - "traefik.http.services.minio-api.loadbalancer.server.port=9000"
    
      # MinIO Console
      - "traefik.http.routers.minio-console.entrypoints=web"
      - "traefik.http.routers.minio-console.rule=Host(`minio.localhost`)"
      - "traefik.http.routers.minio-console.service=minio-console"
      - "traefik.http.services.minio-console.loadbalancer.server.port=9001"
      # - "traefik.http.middlewares.minio-console-headers.headers.customrequestheaders.Host=minio.localhost"
      # - "traefik.http.routers.minio-console.middlewares=minio-console-headers"
      # - "traefik.http.middlewares.minio-console-headers.headers.stsseconds=31536000"
      # - "traefik.http.middlewares.minio-console-headers.headers.browserxssfilter=true"
      # - "traefik.http.middlewares.minio-console-headers.headers.contenttypenosniff=true"
      # - "traefik.http.routers.minio-console.middlewares=minio-console-headers"
    restart: unless-stopped

  code-server:
    image: codercom/code-server
    environment:
      PASSWORD: dev
    volumes:
      - code-data:/home/coder
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.code.entrypoints=web"
      - >
        traefik.http.routers.code.rule=
        Host(`code.localhost`)
        || Host(`vscode.localhost`)
      - "traefik.http.services.code.loadbalancer.server.port=8080"
    restart: unless-stopped

  gitea:
    image: gitea/gitea
    environment:
      USER_UID: 1000
      USER_GID: 1000
    volumes:
      - gitea-data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.gitea.entrypoints=web"
      - >
        traefik.http.routers.gitea.rule=
        Host(`git.localhost`)
        || Host(`gitea.localhost`)
      - "traefik.http.services.gitea.loadbalancer.server.port=3000"
    restart: unless-stopped

volumes:
  minio-data:
  code-data:
  gitea-data:

