layout {

    focus-ring {
        active-color   "#6fe467"
        inactive-color "#1a241a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6fe467"
        inactive-color "#1a241a"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#6fe467"
        inactive-color "#1b8514"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6fe46780"
    }
}

recent-windows {
    highlight {
        active-color "#6fe467"
        urgent-color "#fd4663"
    }
}
