[Unit]
Description=Tor Load Balancer

[Service]
Type=forking
ExecStart=/home/moisrex/bin/net.tor.proxy
ExecStop=killall tor haproxy privoxy

[Install]
WantedBy=default.target
