[Unit]
After=network-online.target
Wants=network-online.target
Description=Tor Load Balancer

[Service]
Type=forking
ExecStart=/home/moisrex/cmd/bin/net.tor.proxy
ExecStop=/home/moisrex/cmd/bin/net.tor.proxy.kill

[Install]
WantedBy=multi-user.target
