[Unit]
Description=Tor Load Balancer

[Service]
Type=forking
ExecStart=/home/moisrex/cmd/bin/net.tor.proxy
ExecStop=/home/moisrex/cmd/bin/net.tor.proxy.kill

[Install]
WantedBy=default.target
