[Desktop Entry]
Version=1.0
Name=euronews (Youtube)
Exec=/usr/bin/mpv https://www.youtube.com/@euronews/live
Icon=tv.euronews
Terminal=false
Type=Application
Categories=AudioVideo;Video
Keywords=Euronews;euro News;News;Europe;youtube;yt
