[Desktop Entry]
Version=1.0
Name=Iran Intl
Exec=/usr/bin/mpv https://dev-live.livetvstream.co.uk/LS-63503-4/index.m3u8
Icon=tv.irintl
Terminal=false
Type=Application
Categories=AudioVideo;Video
Keywords=Iran;Iran Internaltional News;News;intl;International;ایران;اینترنشنال
